.phone14pro{
    background-color: black; }
.protext{
    color: white; }
.Beyond{
    color: white; }
.more{
    color: deepskyblue; }
.buy{
    color: deepskyblue; }
.iphone14{
    background-color:#fafafa; }
.watch{
    background-color: black; }
.watchtext{
    color: white; 
    font-size: 22px; }
.healty{
    color: white; }
.series{
    color: red; }

